# Application
APP_ENV=development
DOCS_ENABLED=true

# PostgreSQL
POSTGRES_DB=hr_app
POSTGRES_USER=hr_app_user
POSTGRES_PASSWORD=change_me

# Database
DATABASE_URL=postgresql+psycopg://hr_app_user:change_me@localhost:5432/hr_app

# JWT
SECRET_KEY=replace_with_a_secure_random_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MIN=30

# Email services
MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=replace_with_mailtrap_username
MAIL_PASSWORD=replace_with_mailtrap_password
MAIL_FROM_EMAIL=replace_with_sender_email
MAIL_FROM_NAME=HR App
MAIL_START_TLS=true

# Password reset
FRONTEND_URL=http://localhost:8000
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30